{% extends "layout.html" %}
{% block title %}CEEJ Landing Page{% endblock %}
{% block page %}Landing Page{% endblock %}

<!-- Josiah Initial Commit -->

{{ super() }}

{% block content %}
    <div class="center">
			<img src="../static/images/CEEJ Landing Page gif.gif" alt="Landing Image">
		</div>
    <!-- this is the login button-->
      <div class="login_button">
        <a href="{{ url_for('auth_views.render_login') }}">Login</a>
      </div>
    
    <div class="text">
      <p>Don't have an account?</p>
    </div>
    <!-- this is the signup button-->
      <div class="signup_button">
        <a href="{{ url_for('auth_views.render_signUp') }}">SignUp</a>
      </div>
{% endblock %}