{% extends "layout.html" %}
{% block title %}CEEJ SignUp Page{% endblock %}
{% block page %}SignUp Page{% endblock %}

{{ super() }}

{% block content %}
    <div class = signup_space></div>
    <div class="login-container">
      <div class="center">
			<img src="../static/images/signuppexels-sora-shimazaki-5935794.jpg" alt="SignUp Image">
		</div>
		<div class="login-right">
			<form action="{{ url_for('auth_views.signUp_action') }}" method="POST">
        
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" placeholder="Enter your username" required>

				<label for="password">Password:</label>
                <input type="password" id="password-field" name="password" placeholder="Enter your password">

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="password-field" name="confirmPassword" placeholder="Confirm your password">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

				<input type="submit" value="SignUp">
                    <div class="login_signup_button">
                        <div class="text">Already an account?</div>
                        <a href="{{ url_for('auth_views.render_login') }}">Login</a>
                    </div>
			</form>
		</div>
	</div>
{% endblock %}
