{% extends "layout.html" %}
{% block title %}CEEJ Team View Page{% endblock %}
{% block page %}Team View Page{% endblock %}

{{ super() }}

{% block content %}
  <div class="competitionspan">
    <span>Teams</span>
  </div>
  <div class="filter-container">
    <a class="filter-buttons1" href="/sort_teams_by_name_action">Alphabetical</a>
  </div> 
  <div class="sidebar">
        <!-- Add your sidebar content here -->
        <ul>
          <li class="usernameSidebar"><a href="{{ url_for('auth_views.render_adminPage') }}">Home</a></li> 
          <li class="logoutSidebar"><a href="{{ url_for('auth_views.logout_action') }}">Logout</a></li>
        </ul>
  </div>
  <div class="contents" id="table-container">
    <!-- Table will be dynamically appended here -->
    <table>
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      {%for t in teams%}
        <tr>
            <td><a class = "viewTeamButton"href="/participantViewPageAdmin/{{ t.id }}">{{t.teamName}}</a></td>
            <td>{{t.score}}</td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
  </div>
{% endblock %}