{% extends "layout.html" %}
{% block title %}CEEJ Update Competition Page{% endblock %}
{% block page %}Update Competition Page{% endblock %}

{{ super() }}

{% block content %}
<div class = signup_space></div>
    <div class="login-container">
      <div class="center">
			<img src="../static/images/createcompspexels-cottonbro-studio-4709291.jpg" alt="Create Competitions Image">
		</div>
		<div class="login-right">
			<form method="POST" href="/update_competition/{{competition_id}}"  enctype="multipart/form-data">
				<label for="CompName">Competition Name:</label>
				<input type="text" id="CompName" name="compName" placeholder="Enter a Competition Name">
        
				<label for="startDate">Start Date:</label>
				<input type="date" id="startDate" name="startDate" placeholder="Enter a Start Date">

				<label for="endDate">End Date:</label>
				<input type="date" id="endDate" name="endDate" placeholder="Enter an End Date">
        
				<input type="submit" value="Update Competition">
        <div class="login_signup_button">
        </div>
			</form>
		</div>
	</div>
{% endblock %}
